<!--Sign up form-->
<div class="row">
 
    <!-- <div class="container">
        <h2 class="text-center mb-5" style="color: rgb(233, 17, 17);">Sign in without credentials</h2>
        <div *ngIf="loggedIn === false" >
          <div>
            <button (click)="signInWithGoogle()" class="btn btn-danger" style="color: black;">Login with Google</button>
           
          </div>
        </div>
        <div *ngIf="loggedIn === true">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" [value]="user.firstName" id="firstname" readonly>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" [value]="user.lastName" id="lastname" readonly>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [value]="user.email" id="email" readonly>
          </div>
          <button type="button" (click)="signOut()" class="btn btn-primary">Log Out</button>
        </div>
    </div> -->
<br/>
<h1 style="color: rgb(241, 34, 34); text-align:center;" >Sign in with your Google Account</h1>

<div id="g_id_onload"
     data-client_id="443350484173-ilpfjv3727msuclnf18h3n8oaapi67vj.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="https://express-users-7hku.onrender.com/api/googleLogin"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_black"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="right">
</div>


    <br/><br/><br/><br/><br/>
<h1 style="color: rgb(241, 34, 34); text-align:center;" >OR...</h1>
    <div class="container-fluid">
        <!-- <asl-google-signin-button *ngIf="!user"></asl-google-signin-button> -->
        <!-- <button class="btn-google" *ngIf="!user" (click)="signInWithGoogle()">Login with Google</button> -->
        <!-- <div *ngIf="user">
            <img src="{{user.photoUrl}}" alt="" srcset="">
            <div>
                <h4>{{user.name}}</h4>
                <p>{{user.email}}</p>
            </div>
        </div> -->
        <!-- <button class="btn-google" *ngIf="user" (click)="signOut()">Sign out</button> -->
        <div class="signup w-70" id="connect">
            <!--class="col-lm-3" -->
            <div class="content">
                <form novalidate class="justify-content-center" #userForm="ngForm">
                    <h2 style="vertical-align: top; color: rgba(202, 43, 4, 0.719); ">Login with credentials</h2>
                    <div class="form-group">
                        <input required id="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                            class="form-control" type="email" placeholder="example@email.com"
                            [(ngModel)]="teacher.email" name="email">
                            <small class="invalid-feedback"><span [class.d-none]="email.valid || email.untouched"
                                style="color: gold;">email is required</span></small>
                    </div>
                    <br>

                    <div class="form-group">
                        <input required id="password" placeholder="Enter a password" #password="ngModel"
                            [class.is-invalid]="password.invalid && password.touched" class="form-control"
                            type="password" [(ngModel)]="teacher.password" name="password">
                            <small class="invalid-feedback"><span [class.d-none]="password.valid || password.untouched"
                                style="color: gold;">password is required and should be at least 9 characters</span></small>
                    </div>
                    <br>

                    <button (click)="login()" class="btn btn-primary" id="reg" type="button"
                        style=" border: none; width: 40%; margin: 0 auto;"
                        [disabled]="userForm.form.invalid">Login</button>
                    <br />
                    <br />
              
                    <p>Don't have an account, <a routerLink="/register">register</a></p>
                    <!--Connecting to signin form-->
                    <h2>Welcome </h2>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br />
<app-footer></app-footer>
<!--Sign up form-->