@import '~bootstrap/dist/css/bootstrap.min.css';
.containerr{
    /* background: rgba(214, 214, 214, 0.411); */
    height: 58vh;
    width: 55%;
    border-radius: 7px;
    margin: 0 auto;
}

*{
    /* margin-left:3%; */
    color: rgb(255, 246, 246);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, textarea{
    color: rgba(182, 37, 11, 0.795);
    opacity: .6;
}

@media only screen and (max-width: 800px){
    .containerr{
        background: none;
        width: 90%;
        height: 50vh;

    }
}

