.add{
    background: rgba(0, 110, 0, 0.808);
    /* margin-top: 2em; */
    padding: 12px;
    height: 3rem;
    margin: 1em auto;
    width: 7em;
}
.add:hover, .edit:hover, .del:hover, .close:hover, .enroll:hover{
    background: rgba(100, 100, 100, 0.644);
}



.edit{
    background:  rgba(117, 1, 117, 0.719);
    margin: auto;
    padding: 12px;
}

.del{
    background: rgba(173, 0, 0, 0.705);
    margin: auto;
    padding: 12px;
}

.btns{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: auto;
}

.edit, .del{
    width: 8em;
}

.div-add{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: 12px;
    flex-wrap: wrap;
}

.close{
    margin: 0 auto;
    border-radius: 50px;
    background: rgba(255, 217, 0, 0.849);
    width: 7em;
    padding: 12px;
}

.enroll{
    margin: 0 auto;
    border-radius: 50px;
    background: rgba(255, 94, 0, 0.849);
    width: 7em;
    padding: 12px;
}






/* Apply this CSS to your existing styles */
@media (max-width: 768px) {

/* .enroll, .close, .add{
    margin: 0 auto;
} */
    
/* .add, .edit, .del {
    border-radius: 50px;
    text-align: center;
    color: white;
} */

.add:hover, .edit:hover, .del:hover, .close:hover {
    background: rgba(150, 150, 150, 0.8);
}

.close {
    background: rgba(255, 217, 0, 0.849);
 }

.mark-name {
    font-weight: lighter;
    font-size: 16px; /* Use relative font size */
    color: white;
}

.mark-class {
    font-weight: lighter;
    font-size: 12px; /* Use relative font size */
    color: white;
    text-align: left;
}

.btns {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: auto;
    flex-direction: column; /* Adjust the layout */
    align-items: center; /* Center horizontally */
    text-align: center;
    padding: 10px; /* Add padding for spacing */
}

}