.add{
    background: rgba(0, 110, 0, 0.808);
    /* margin: auto; */
    padding: 12px;


}
.add:hover, .edit:hover, .del:hover, .close:hover{
    background: rgba(100, 100, 100, 0.644);
}

.edit{
    background:  rgba(117, 1, 117, 0.719);
    margin: auto;
    padding: 12px;
}

.del{
    background: rgba(173, 0, 0, 0.705);
    margin: auto;
    padding: 12px;
}

.btns{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: auto;
}

.add, .edit, .del{
    width: 8em;
}

.div-add{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: auto;
}

.close{
    margin: 0 auto;
    border-radius: 50px;
    background: rgba(255, 217, 0, 0.849);
    /* float: right; */
    width: 8em;
    padding: 12px;

}




/* Apply this CSS to your existing styles */
@media (max-width: 768px) {

.add, .edit, .del {
    margin: auto;
    padding: 8px;
    width: 25%; /* Adjust the width based on your preference */
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 14px; /* Use relative font size */
}

.add:hover, .edit:hover, .del:hover, .close:hover {
    background: rgba(150, 150, 150, 0.8);
}

.close {
    border-radius: 50px;
    background: rgba(255, 217, 0, 0.849);
    width: 25%;
    padding: 8px;
    margin: auto;
    text-align: center;
    font-size: 14px; /* Use relative font size */
}

.mark-name {
    font-weight: lighter;
    font-size: 16px; /* Use relative font size */
    color: white;
}

.mark-class {
    font-weight: lighter;
    font-size: 12px; /* Use relative font size */
    color: white;
    text-align: left;
}

.btns {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: auto;
    flex-direction: column; /* Adjust the layout */
    align-items: center; /* Center horizontally */
    text-align: center;
    padding: 10px; /* Add padding for spacing */
}

}