*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
mat-form-field{
    color: white;
    margin: 12px;
}

.enroll-field{
    margin-bottom: 1.64em;
    margin-left: .55em;
    /* margin: 1.3em; */
    border-radius: 5px;
    width: 15em;
    height: 3.85em;
    border: 1px solid rgba(255, 255, 255, 0.589);
    justify-content: center;
    text-align: center;
}


.info, .infoline2{
    display: flex;
    /*flex-direction: column; */
    justify-content: center;
    align-items: center;
  flex-wrap: wrap;
   /*height: 100vh; /* Adjust the height as needed */
    padding: 10px; 
    color: white;
}

.marks{
    display: flex;
    color: white;
    margin: 0 auto;
    align-items: center;
    justify-content: center; /*Center align the content horizontally*/
    /* flex-wrap: wrap; */
}

.marks mat-form-field{
    margin: 0px;
}

.admin{
    display: flex;
    /*flex-direction: column; */
    justify-content: center;
    align-items: center;
  flex-wrap: wrap;
   /*height: 100vh; /* Adjust the height as needed */
    padding: 10px; /* Add padding for spacing around the content */
}

.admin mat-form-field{
    margin: 15px;
}

.test1, .test2{
    flex-wrap: wrap;
    text-align: center; /* Center align the test titles */
    margin: 0 auto;
    /* float: left; */
}

.test1{
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-right: 1px solid white;
}
.test2{
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    border-left: 1px solid white;
}

.addreport{
    margin: 10px;
    border-radius: 40px;
    background: rgba(0, 128, 0, 0.76);
    width: 8em;
}

.clonereport{
    /* margin: 0 auto; */
    margin: 10px;
    border-radius: 40px;
    background: rgba(224, 191, 0, 0.897);
    width: 8em;
}

.close{
    /* margin: auto; */
    margin: 10px;
    border-radius: 40px;
    background: rgba(155, 0, 0, 0.76);
    width: 8em;
}

.classOfButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
}

.addreport:hover, .close:hover, .clonereport:hover{
    background: rgba(100, 100, 100, 0.644);
}


input{
    color: white;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
}

.test1 mat-form-field, .test2 mat-form-field{
    width: 8em;
    margin: 10px;
}

.four1, .four2, .four3, .four4, .four5, .four6, .four7{
    justify-content: center;
    display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between; /* Distribute items evenly */
  margin-top: 10px; /* Add spacing between rows */
}

/* .four1 mat-form-field, .four2 mat-form-field, .four3 mat-form-field, .four4 mat-form-field, .four5 mat-form-field, .four6 mat-form-field, .four7 mat-form-field{
    margin: 4px;
} */

.test-title{
    text-align: center;
    /* margin-left: 2em; */
}

.div-add{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: 6px;
    flex-wrap: wrap;
}

.enroll{
    margin: 0 auto;
    border-radius: 50px;
    background: rgba(255, 94, 0, 0.849);
    width: 7em;
    padding: 12px;
}


.enroll:hover{
    background: rgba(100, 100, 100, 0.644);
}


/* Responsive styles for smaller screens */
@media (max-width: 510px) {
    .info,
    .infoline2, .admin{
        flex-direction: column; /* Stack the form fields vertically on smaller screens */
        align-items: center; /* Center align the form fields */
    }

    mat-form-field {
        width: 28%; /* Set the width of form fields to 100% on smaller screens */
       /* margin-bottom: 10px; /* Add some spacing between the form fields */
    }

    .info mat-form-field, .infoline2 mat-form-field, .admin mat-form-field, .infoline2 .enroll-field{
        width: 12em;
        margin: 12px;   
    }
    .enroll-field{
        width: 14em;
    }

    .admin {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align content horizontally */
        color: white;
        /* margin: auto; */
    }
    
    /* .admin mat-form-field {
        margin: 10px; 
        max-width: 400px; 
    } */
}



@media (max-width: 705px){
.test1{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid white;
}
.test2{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1px solid white;
}
}